
<div class="container cabecera">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <img class="logo" src="../../../assets/img/avatar.png" alt="">
          <span class="app-name">DHome Technical</span>
          

          <div routerLinkActive="active" *ngIf="metadata">
            <a mat-button  (click)="toHomePage()">Home</a>
            <a mat-button  [routerLink]="'/customers'" *ngIf="metadata.userType == 2">Customers</a>
            <a mat-button  [routerLink]="'/employees'" *ngIf="metadata.userType == 1">Employees</a>
            <a mat-button  [routerLink]="'/profile'">Profile</a>
          </div>
          <span class="flex-expand"></span>
          
          <div *ngIf="metadata">
            <button mat-button (click)="logout()">LogOut</button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
</div>
