<!-- Este componente es la visto del home de un usuario customer -->
<app-header></app-header>

<div class="citas">
    <div class="container cabecera">
        <mat-toolbar color="primary" class="mt-5">
            <h1>Mis citas</h1>
        </mat-toolbar>
        
    </div>
    <!-- Esta es la tabla de citas que tiene el customer con distintos employees y sus detalles -->
    <div class="tabla-citas">
        <!-- el dataSource es la info que se mostrara en la tabla -->
        <!-- el dataSource se llena con la traida de datos con el service -->
        <!-- los matColumnDef son las columnas que tendra la tabla, estas columnas se definen en el .ts como displayedColumns -->
        <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef> Firstname Employee </th>
              <!-- element es un objeto del array de objetos (dataSource) -->
              <td mat-cell *matCellDef="let element"> <p class="ellipsis"><b> {{element.employee.firstName}}</b> </p> </td>
            </ng-container>
          
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef> Lastname </th>
              <td mat-cell *matCellDef="let element" [matTooltip]="element.titulo"> <p class="ellipsis"> <b >{{element.employee.lastName}}</b></p></td>
            </ng-container>

            <ng-container matColumnDef="specialty">
              <th mat-header-cell *matHeaderCellDef> Specialty </th>
              <td mat-cell *matCellDef="let element" [matTooltip]="element.titulo"> <p class="ellipsis"> <b >{{element.employee.specialty.name}}</b></p></td>
            </ng-container>
          
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef>Appointment Date </th>
              <td mat-cell *matCellDef="let element"> <p class="ellipsis"><b> {{element.appointmentDate}}</b> </p>  </td>
            </ng-container>
          
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> <p> <b> {{element.address}}</b> </p>  </td>
            </ng-container>
    
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> 
                    <p class="ellipsis"><b>{{element.status}}</b></p>
                </td>
              </ng-container>
    
            <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> More Details </th>
            <td mat-cell *matCellDef="let element; let i = index;">
              <!-- Este boton es para abrir un modal que mostrara todos los datos del Appointment -->
              <!-- Se pasa como parametro el element que seria el objeto completo de la fila en la tabla -->
              <button (click)="verDetalles(element)" mat-raised-button color=primary >
                <span class="material-icons"> info </span>
              </button>
            </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>  
    </div>
</div>
