.citas{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

/* .tabla-citas{
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90% ;
} */

table.mat-table {
    display: table;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    
    
}